As of spring 2022, master branch is a maintenance branch for the CPTAC3 project.
New development work for GDAN implements a python-based JSON parser and an updated
way of dealing with annotations.  

This branch will be used for all CPTAC3 project updates
